@charset "utf-8";
@font-face {
	font-family: Prata;
	src: url("../font/Prata-Regular.ttf");
}
* {box-sizing:border-box;}
body {margin: 0; font-family: Prata, serif;}
.wrap {margin-left: auto; margin-right: auto; width: 92%; max-width: 960px;}
header {
	width: 100%;
	background-color: rgba(15, 23, 43, .9);
	border-bottom: 1px solid #353635;
	display: flex;
	justify-content: space-around;
}
h1.title {color: #F29101; font-size: 30px; margin-left: 40px;}
.head {width: 100%; background-color: #CCCCCC;}
div.head {border-bottom: 1px solid #353635; margin-bottom: 10px;}
footer {border-top: 1px solid #353635; margin-top: 50px; padding: 20px 0 30px 0;}
footer.head a, footer.head span {color: #000000;}
.head a, .head span {padding: 5px; color: #000000;}
header .wrap, .head .wrap {display: flex; justify-content: space-around;}
header a {color: #FFFFFF;}
header a:hover {color: #FEA116;}
a.logo_link {text-decoration: none;}
.logo {font-weight: 100; font-size: 20px; color: #FEA116; margin: 10px 0;}
.tel_head {padding-top: 10px !important; font-size: 12px;}
.ukr {background: url("img/ukr.png") no-repeat left; background-size: 30px auto;}
.eng {background: url("img/eng.png") no-repeat left; background-size: 30px auto;}
.lang ul {list-style: none; padding-left: 0; width: 140px; margin: 0;}
.lang a {padding:14px 5px 14px 35px; display: block;}
.lang li > ul {position:absolute; display:none;}
.lang li:hover > ul {display:block; width:auto; border-top: 1px solid #677B27;}
a.child_links {color: #fff; margin-left: 5px;}
/*Menu*/
nav ul {list-style: none; margin: 0; padding-left: 0; display:flex;}
nav a {text-decoration: none; display: block; padding:14px;}
nav li > ul {position:absolute; display:none;}
nav li:hover > ul {display:block; width:auto; border-top: 1px solid #677B27;}
nav li:hover > ul > li {background:rgba(15, 23, 43);}
.lang li:hover > ul > li {background:rgba(15, 23, 43); width: 160px;}
section {padding-bottom: 10px;}
section h2 {border-bottom: 2px solid #FEA116; display: inline-block; margin-bottom: 0;}
.opis ul {padding-left: 0;}
.opis li {list-style: none;}
	/*Galery*/
.gallery-container {display: flex; flex-wrap: wrap; gap: 20px;}
.gallery-item {
    flex: 1 1 calc(50% - 20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
}
.gallery-item h3 {font-size: 18px; color: #333;}
.descr {margin: 5px 0 15px; color: #545454;}
.img-thumbnail {
    width: 35%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
	float: left;
	margin-right: 15px;
    margin-bottom: 10px;
	padding-right: 10px;
}
.img-thumbnail:hover {transform: scale(1.05);}
.hidden-gallery {display: none;}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus {color: #bbb; text-decoration: none; cursor: pointer;}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {right: 0; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0, 0, 0, 0.8);}
@media screen and (max-width: 800px) {
    .gallery-item {flex: 1 1 100%;}
}
.modal-content .image-container {
    overflow-y: auto;
    position: relative;
    margin: 0 auto;
	width: 80%;
    padding: 0;
	text-align: center;
}
.modal-content .image-container::-webkit-scrollbar {width: 10px; background-color: rgba(0, 0, 0, 0.2);}
.modal-content .image-container::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}
.modal-content .modal-image {
    overflow-y: auto;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
	width: 100%;
}
.modal-content .image-container img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
	margin: 0 auto;
}
.modal-content img.not_high {max-height: 85vh; width: auto; max-width: 100%; margin: 0 auto;}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    overflow: hidden;
}
.image-container {overflow-y: auto; max-height: 100%;}
.modal-image {display: block; width: auto; max-width: 100%; height: auto; max-height: none;}
		/*Мобильное меню*/
#side-checkbox {display: none;}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -50%;
    background: rgba(15, 23, 43);
    transition: all 0.5s;   
    width: 50%;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-button-1-wr {float: right;}
.side-button-1 {display: inline-block;}
.side-button-1 .side-b {
    font-size: 26px;
    line-height: 26px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer; 
    margin-top: 12px;
}
.menu_icon {
  border-bottom: 10px double #fff;
  border-top: 3px solid #fff;
  cursor: pointer;
  float: left;
  padding-top: 4px;
  transition: all 0.2s ease 0s;
  width: 25px;
  margin-top: 15px;
}
.side-button-1 .side-b:hover, .side-button-1 .side-b:active, .side-button-1 .side-b:focus {color: #ccc;}
.menu_icon:hover {border-bottom: 15px double #ccc; border-top: 5px solid #ccc;}
.side-button-1 .side-b:after, .side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-b:before {top: -6px;}
.side-button-1 .side-b:hover:after, .side-button-1 .side-b:hover:before {width: 100%; left: 0;}
.side-button-1 .side-close {display: none;}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {display: none;}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {display: block;}
#side-checkbox:checked + .side-panel {left: 0;}
.side-button-2 {
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    cursor: pointer;
	font-size: 26px;
    line-height: 26px;
    color: #FFF;
    font-weight: bold;
}
.side-button-2:hover {color: #ccc;}
.menu_icon {
    border-bottom: 15px double #fff;
    border-top: 5px solid #fff;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease 0s;
    width: 35px;
}
.mob_menu ul {padding: 0;}
.mob_menu li {list-style: none; padding: 5px;}
.mob_menu a {text-decoration: none;}
.mob_menu {display: none;}
@media screen and (max-width: 640px) {
	.gallery-item {flex: 1 1 calc(100% - 20px); margin: 10px 0; box-shadow:0 0 10px rgba(0, 0, 0, 0.5);}
	.modal-content .image-container {margin: 100px auto auto auto;}
	header .wrap, .head .wrap {width: 98%;}
	.logo, header a {font-size: 20px;}
	.lang ul {width: auto;}
	section {font-size: 14px;}
	.mob_menu {display: block;}
	.leot_menu {display: none;}
	.head {display: flex;}
	.head .wrap {display: block; text-align: center;}
	.head a, .head span {padding: 10px 25px 5px; display: inline-block;}
	section {padding-left: 10px;}
	.logo {margin: 0; padding: 14px 0;}
	footer {padding: 10px 0 20px 0;}
}
